body, h1, h2, h3, h4, h5, h6, p, blockquote, th, td, div, dl, dt, dd, ul, ol, li, pre, code, form, fieldset, legend, input, button, textarea {
	margin: 0;
	padding: 0;
}

body{
    padding-top:5vh;
	background-image: url('/images/background.jpg');
	background-position: center bottom;
	background-attachment: fixed;
	background-size: cover;
    font-family: Consolas, "微軟正黑體", Calibri, Arial;
}

ul, li{
    list-style-type: none;
}

textarea {
    resize: none;
}

/* callout */
.bs-callout {
    padding: 15px;
    margin: 16px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
	background-color: rgba(255, 255, 255, 0.5);
}
.bs-callout h4 {
    margin-top: 0;
    margin-bottom: 5px;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code {
    border-radius: 3px;
}
.bs-callout+.bs-callout {
    margin-top: -5px;
}
.bs-callout-default {
    border-left-color: #777;
}
.bs-callout-default h4 {
    color: #777;
}
.bs-callout-primary {
    border-left-color: #428bca;
}
.bs-callout-primary h4 {
    color: #428bca;
}
.bs-callout-success {
    border-left-color: #5cb85c;
}
.bs-callout-success h4 {
    color: #5cb85c;
}
.bs-callout-danger {
    border-left-color: #d9534f;
}
.bs-callout-danger h4 {
    color: #d9534f;
}
.bs-callout-warning {
    border-left-color: #f0ad4e;
}
.bs-callout-warning h4 {
    color: #f0ad4e;
}
.bs-callout-info {
    border-left-color: #5bc0de;
}
.bs-callout-info h4 {
    color: #5bc0de;
}

/* badge */
.badge {
  padding-top: 1px;
  padding-bottom: 2px;
  font-size: 10px;
  font-weight: bold;
  white-space: nowrap;
  color: #ffffff;
  background-color: #999999;
  -webkit-border-radius: 9px;
  -moz-border-radius: 9px;
  border-radius: 9px;
  vertical-align: top;
}
.badge:hover {
  color: #ffffff;
  text-decoration: none;
  cursor: pointer;
}
.badge-error {
  background-color: #b94a48;
}
.badge-error:hover {
  background-color: #953b39;
}
.badge-warning {
  background-color: #f89406;
}
.badge-warning:hover {
  /*background-color: #c67605;*/
}
.badge-success {
  background-color: #468847;
}
.badge-success:hover {
  background-color: #356635;
}
.badge-info {
  background-color: #3a87ad;
}
.badge-info:hover {
  background-color: #2d6987;
}
.badge-inverse {
  background-color: #333333;
}
.badge-inverse:hover {
  background-color: #1a1a1a;
}

/* alert */
.pure-alert {
    position: relative;
    margin-top: 5px;
    padding: 10px;
    background: #ccc;
    border-radius: 3px;
}
.pure-alert label {
    display: inline-block;
    *display: inline;
    /* IE7 inline-block hack */
    *zoom: 1;
    white-space: nowrap;
}
.pure-alert {
    background-color: rgb(209, 235, 238);
    color: rgb(102, 131, 145);
}
.pure-alert-error {
    background-color: #D13C38;
    color: #fff;
}
.pure-alert-warning {
    background-color: rgb(250, 191, 103);
    color: rgb(151, 96, 13);
}
.pure-alert-success {
    background-color: rgb(83, 180, 79);
    color: #fff;
}

/* glass */
.glass::before{
	position: absolute;
	top: 0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
	background-image: url('/images/background.jpg');
	background-position: center bottom;
	background-attachment: fixed;
	background-size: cover;
	content: "";
	filter: blur(5px);
	-webkit-filter: blur(5px);
}
.glass{
	position: relative;
	border-bottom: 1px solid;
	border-bottom-color: rgba(255, 255, 255, 0.2);
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
	background-color: rgba(255, 255, 255, 0.2);

    height: 100%;
    /*width: 100%;*/
    margin: 10px;
    padding: 10px;
    display: inline-block;
}

form *{
    font-family: Consolas, "微軟正黑體", Calibri, Arial;
    vertical-align: middle;
    padding: 6px 12px;
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0.3);
    border: 1px solid #CCC;
    border-radius: 4px;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

form *:focus{
    border-color: #66AFE9;
    outline: 0px none;
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset, 0px 0px 8px rgba(102, 175, 233, 0.6);
}
form button:hover{
    background-color: #448DB7;
    color: white;
}
form button:active{
    background-color: #115A84;
    color: white;
}

code{
    font-family: Consolas, "微軟正黑體", Calibri, Arial;
    vertical-align: top;
    line-height: 23px;
    background-color: #2D3143;
    color: #9DBED8;
    padding:2px 5px;
    font-size: 85%;
    border-radius: 3px;
}

main{
    margin: 0 auto;
    width: 1400px;
    min-height: 90vh;
}

.content_scroll{
	overflow: hidden;
	position: relative;
	padding: 20px;
}

#image_gallery{
    vertical-align: top;
    width: 250px;
    height: 90vh;
}
#image_gallery > #images_content{
    height: 95%;
}
#images_content .img_contain{
    width: 200px;
    height: 200px;
    padding: 5px;
    text-align: center;
    font: 0/0 a;
    cursor: pointer;
}
#images_content .img_contain::before{
    content: ' ';
    display: inline-block;
    vertical-align: middle;
    height: 100%;
}
#images_content .img_contain img{
    display: inline-block;
    vertical-align: middle;
    font: 16px/1 Arial, sans-serif;
    max-width: 200px;
    max-height: 200px;
    width: auto;
    height: auto;
}
#images_content .img_contain:hover img{
    box-shadow: 0px 0px 10px #77aaff;
}
#images_content .select_img{
    box-shadow: 0px 0px 10px #8888ff;
}

#content{
    vertical-align: top;
    width: 550px;
}
#content img{
    display: block;
    max-width:550px;
    max-height:70%;
    width: auto;
    height: auto;
}
#content form *{
    margin: 3px 0px;
}
#content form textarea{
    height: 100px;
}

#comments{
    height: 90vh;
    vertical-align: top;
    width: 450px;
}
#comments > .content_scroll{
    height: 80%;
}
#comments #comment_form #comment_author{
    width: 90px;
}
#comments #comment_form #comment_text{
    width: 210px;
}
#comments #comment_form button{
    width: 80px;
    font-weight: 400;
}

.comment{
    display: table-row;
}

.comment > div{
    display: table-cell;
    font-size: 16px;
}
.comment > div:first-child{
    cursor: pointer;
    font-size: 10px;
    text-align: center;
    padding-right: 5px;
    padding-top: 2px;
    vertical-align: top;
    width: 40px;
    height: 100%;
}
.comment > div:first-child .comment_plus{
    position: absolute;
    width: 40px;
    display: none;
}
.comment > div:nth-child(2){
    width:70px;
}
.comment > div:nth-child(3){
    width:220px;
}
.comment > div:nth-child(3)::before{
    content: ':';
}

footer{
    text-align: right;
    padding-right: 10px;
}
